Source: ukefi
Section: admin
Priority: optional
Maintainer: Benjamin Tidor <benjamin@tidor.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/btidor/ukefi
Vcs-Browser: https://github.com/btidor/ukefi
Vcs-Git: https://github.com/btidor/ukefi.git

Package: ukefi
Architecture: all
Depends: ${misc:Depends}, binutils, initramfs-tools, efibootmgr, systemd-boot
Suggests: sbsigntool, systemd, libengine-pkcs11-openssl, opensc, p11-kit,
  yubikey-manager
Description: unified kernel image generator for UEFI systems
 UKEFI allows users with a UEFI-based machine to boot directly into a unified
 kernel image instead of using a traditional bootloader. This package provides
 the update-ukefi tool, which builds a unified image containing the kernel and
 initramfs, signs it with a user-provided key, and installs it to the EFI
 system partition. This package adds hooks so that update-ukefi runs any time a
 new initramfs is generated, and installs an EFI boot option pointing to the
 unified kernel image.
